@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    This is my First WebApp in Core
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
    </div>
</div>
